<ion-header>
  <ion-toolbar>
    <ion-title>Redefinir Senha</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="resetPassword()">
    <ion-item fill="solid">
      <ion-input type="email" placeholder="Digite seu e-mail" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit">Enviar e-mail de redefinição</ion-button>
  </form>

  <div *ngIf="message" class="ion-padding">
    <ion-note color="success">{{ message }}</ion-note>
  </div>
  <div *ngIf="errorMessage" class="ion-padding">
    <ion-note color="danger">{{ errorMessage }}</ion-note>
  </div>
  <ion-button fill="clear" routerLink="/login" expand="full">Faça o Login</ion-button>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="footer-content">
      <p>&copy; 2024 Veterinária Sem nome. Todos os direitos reservados.</p>
      <a href="/contato">Contato</a> | <a href="/home">Inicial</a>
    </div>
  </ion-toolbar>
</ion-footer>

