.servico-selecionado {
    font-weight: bold; /* Deixa o texto em negrito */
    font-size: 1.2em; /* Aumenta um pouco o tamanho, se desejar */
  }


  .footer-content {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: #666;
    
  }

  .footer-content a {
    color: black;
  }
  .footer-content p{
    font-size: 15px;
  }
  