<ion-header>
  <ion-toolbar>
    <ion-title>Agendar Consulta</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="bookService()">
    <ion-item>
      <ion-label>Serviço Selecionado</ion-label>
      <ion-select [(ngModel)]="service" name="service" required>
        <ion-select-option *ngFor="let srv of services" [value]="srv">{{ srv }}</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Nome do Animal</ion-label>
      <ion-input type="text" [(ngModel)]="animalName" name="animalName" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Data</ion-label>
      <ion-input type="date" [(ngModel)]="date" name="date" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Horário</ion-label>
      <ion-input type="time" [(ngModel)]="time" name="time" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Confirmar Marcação</ion-button>
  </form>


</ion-content>
