<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="custom-content">

    <div class="container-logo">
      <ion-img class="logo-vet"
      src="../../assets/img/logo-vet.png"
      alt="logo da empresa, cachorro e gato juntos"></ion-img>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <div *ngIf="registerForm.get('name')?.invalid && (registerForm.get('name')?.touched || registerForm.get('name')?.dirty)">
      <small *ngIf="registerForm.get('name')?.errors?.['required']">O nome é obrigatório.</small>
    </div>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
  
    </ion-item>
    <div *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)">
      <small *ngIf="registerForm.get('email')?.errors?.['required']">O email é obrigatório.</small>
      <small *ngIf="registerForm.get('email')?.errors?.['email']">O email deve ser válido.</small>
    </div>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" formControlName="password">
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
      

    </ion-item>
    <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)">
      <small *ngIf="registerForm.get('password')?.errors?.['required']">A senha é obrigatória.</small>
      <small *ngIf="registerForm.get('password')?.errors?.['minlength']">A senha deve ter pelo menos 6 caracteres.</small>
    </div>

    <ion-button class="btn-login-cad" expand="full" type="submit" [disabled]="registerForm.invalid">Cadastrar</ion-button>
  </form>
  <ion-button fill="clear" routerLink="/login">Já possui cadastro? Faça o login</ion-button>

</ion-content>
